body {
  color: #EEE;
  font-family: Verdana, Geneva, sans-serif
}

/* still use fira code for non body text, because it looks nice :) */
/* .menu,
.logo,
.post-title,
.post-date
{
   font-family: "Lucida Console", Monaco, monospace
} */

/* helper for threeJS examples */ 

#datGuiContainer {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  z-index: 0;
}
