body {
  color: #EEE;
  font-family: Helvetica, Arial, sans-serif  
}

/* still use fira code for non body text, because it looks nice :) */
.menu,
.logo,
.post-title,
.post-date
{
   font-family: 'Fira Code'; 
}

/* helper for threeJS examples */ 
#datGuiContainer {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  z-index: 0;
}
