
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); */
/* override default font with Open Sans for better readability*/
body {
  font-family:  'Open Sans', sans-serif;
  /* font-size: large; */
  color: #EEE;
  /* font-family: Helvetica, sans-serif; */

  /* font-kerning: auto; */
  /* text-rendering: auto; */
  /* font-size: 15px; */
  line-height: 1.8em;
  letter-spacing: 0.04em;
  /* font-family: verdana, sans-serif; */
  /* font-family: 'Noticia Text', serif; */
  
}

/* still use fira code for non body text, because it looks nice :) */
.menu,
.logo,
.post-title,
.post-date
{
  font-family: 'Fira Code';

}

/* helper for threeJS examples */ 
#datGuiContainer {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  z-index: 0;
}

